--
-- PostgreSQL database dump
--

\restrict 3DcEZeg1ztKcN5zgUTcQOjkdwX7LltWagHEuOwVDjtw560Z7raM7ivyM74Dbt1M

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: collectionactiontype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.collectionactiontype AS ENUM (
    'call',
    'whatsapp',
    'visit',
    'legal_notice'
);


ALTER TYPE public.collectionactiontype OWNER TO postgres;

--
-- Name: loanstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.loanstatus AS ENUM (
    'active',
    'overdue',
    'closed',
    'bad_debt'
);


ALTER TYPE public.loanstatus OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'admin',
    'staff',
    'collector'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: collection_actions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection_actions (
    id integer NOT NULL,
    loan_id integer NOT NULL,
    staff_id integer NOT NULL,
    action_type public.collectionactiontype NOT NULL,
    notes text,
    action_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.collection_actions OWNER TO postgres;

--
-- Name: collection_actions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collection_actions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_actions_id_seq OWNER TO postgres;

--
-- Name: collection_actions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collection_actions_id_seq OWNED BY public.collection_actions.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(50) NOT NULL,
    address character varying(500),
    national_id character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: loans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loans (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    created_by integer NOT NULL,
    loan_amount numeric(12,2) NOT NULL,
    interest_rate numeric(5,2) NOT NULL,
    tenure_months integer NOT NULL,
    installment_amount numeric(12,2) NOT NULL,
    total_payable numeric(12,2) NOT NULL,
    total_paid numeric(12,2) NOT NULL,
    current_balance numeric(12,2) NOT NULL,
    disbursed_at date NOT NULL,
    next_due_date date NOT NULL,
    status public.loanstatus NOT NULL,
    days_overdue integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    monthly_interest_rate numeric(8,4) DEFAULT 0 NOT NULL,
    service_charge_rate numeric(8,4) DEFAULT 0 NOT NULL,
    stamp_duty_rate numeric(8,4) DEFAULT 0 NOT NULL
);


ALTER TABLE public.loans OWNER TO postgres;

--
-- Name: loans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.loans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loans_id_seq OWNER TO postgres;

--
-- Name: loans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.loans_id_seq OWNED BY public.loans.id;


--
-- Name: repayments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.repayments (
    id integer NOT NULL,
    loan_id integer NOT NULL,
    recorded_by integer NOT NULL,
    amount numeric(12,2) NOT NULL,
    method character varying(50) NOT NULL,
    note text,
    paid_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.repayments OWNER TO postgres;

--
-- Name: repayments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.repayments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.repayments_id_seq OWNER TO postgres;

--
-- Name: repayments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.repayments_id_seq OWNED BY public.repayments.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role public.userrole NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: collection_actions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_actions ALTER COLUMN id SET DEFAULT nextval('public.collection_actions_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: loans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans ALTER COLUMN id SET DEFAULT nextval('public.loans_id_seq'::regclass);


--
-- Name: repayments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repayments ALTER COLUMN id SET DEFAULT nextval('public.repayments_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
20260307_0002
\.


--
-- Data for Name: collection_actions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collection_actions (id, loan_id, staff_id, action_type, notes, action_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (id, full_name, email, phone, address, national_id, created_at, updated_at) FROM stdin;
6	tze seng ronald goh	mrseng86@gmail.com	01122338686	1ST FLOOR ,LOT 498 SECTION 6 KTLD JALAN KULAS		2026-04-07 08:23:16.382838+00	2026-04-07 08:23:16.382838+00
\.


--
-- Data for Name: loans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.loans (id, customer_id, created_by, loan_amount, interest_rate, tenure_months, installment_amount, total_payable, total_paid, current_balance, disbursed_at, next_due_date, status, days_overdue, created_at, monthly_interest_rate, service_charge_rate, stamp_duty_rate) FROM stdin;
11	6	1	10000.00	108.00	36	650.00	23400.00	740.00	22660.00	2026-04-07	2026-05-07	active	0	2026-04-07 08:23:29.393899+00	3.0000	10.0000	0.0000
\.


--
-- Data for Name: repayments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.repayments (id, loan_id, recorded_by, amount, method, note, paid_at) FROM stdin;
4	11	1	740.00	cash	\N	2026-04-07 08:23:39.006373+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, hashed_password, role, created_at) FROM stdin;
1	admin@lms.com	$pbkdf2-sha256$29000$JcQ4R2jtHYPwntN6b62V0g$R0BRpbfjDrbrVWBL2uuADCq2l6rx54DcRvLm02a1ltQ	admin	2026-03-06 03:34:07.61289+00
2	staff@lms.com	$pbkdf2-sha256$29000$FUIopTSmdK51bg0hRMgZYw$4yEh6dhLNTVJaBsLWIGlAUlwSPaNL15Ac.ElpTvWtdo	staff	2026-03-06 03:34:07.61289+00
3	collector@lms.com	$pbkdf2-sha256$29000$2HuvNUZozZmTslYKwZiTMg$XP/CXqeH9fQKXhpKGdH88PCPmG3EzTqudWHxNZoM/Uw	collector	2026-03-06 03:34:07.61289+00
\.


--
-- Name: collection_actions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collection_actions_id_seq', 1, false);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 14, true);


--
-- Name: loans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.loans_id_seq', 19, true);


--
-- Name: repayments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.repayments_id_seq', 151, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: collection_actions collection_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_actions
    ADD CONSTRAINT collection_actions_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: loans loans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_pkey PRIMARY KEY (id);


--
-- Name: repayments repayments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repayments
    ADD CONSTRAINT repayments_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_collection_actions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_collection_actions_id ON public.collection_actions USING btree (id);


--
-- Name: ix_collection_actions_loan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_collection_actions_loan_id ON public.collection_actions USING btree (loan_id);


--
-- Name: ix_customers_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_customers_id ON public.customers USING btree (id);


--
-- Name: ix_loans_customer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_loans_customer_id ON public.loans USING btree (customer_id);


--
-- Name: ix_loans_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_loans_id ON public.loans USING btree (id);


--
-- Name: ix_repayments_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_repayments_id ON public.repayments USING btree (id);


--
-- Name: ix_repayments_loan_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_repayments_loan_id ON public.repayments USING btree (loan_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: collection_actions collection_actions_loan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_actions
    ADD CONSTRAINT collection_actions_loan_id_fkey FOREIGN KEY (loan_id) REFERENCES public.loans(id) ON DELETE CASCADE;


--
-- Name: collection_actions collection_actions_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_actions
    ADD CONSTRAINT collection_actions_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.users(id);


--
-- Name: loans loans_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: loans loans_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: repayments repayments_loan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repayments
    ADD CONSTRAINT repayments_loan_id_fkey FOREIGN KEY (loan_id) REFERENCES public.loans(id) ON DELETE CASCADE;


--
-- Name: repayments repayments_recorded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.repayments
    ADD CONSTRAINT repayments_recorded_by_fkey FOREIGN KEY (recorded_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3DcEZeg1ztKcN5zgUTcQOjkdwX7LltWagHEuOwVDjtw560Z7raM7ivyM74Dbt1M

